<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xxxx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BDD545241CDC136C00DDF39D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDD5453D1CDC136C00DDF39D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDD545481CDC136C00DDF39D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
